@import 'src/colors.scss';

.comment {
    background-color: $main-flat-light-grey;
    color: $main-flat-grey;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-left: 1.5rem;
    padding: 0.5rem;

    &-author {
        color: $main-flat-black;
        font-weight: bold;
    }

    &-author:after {
        color: $main-flat-grey;
        content: "-";
        margin: 0 5px;
    }

    &-header {
        display: flex;
    }
}

.author-avatar {
    border-radius: 50%;
}

.comments {
    list-style: none;
    padding-left: 0;
}

.item {
    align-items: center;
    display: flex;
}

.item + .item {
    margin-top: 1rem;
}