@import '../../../colors.scss';

:host {
    flex: auto;
}

//Bootstrap-style spinner
@keyframes spinner {
    to { transform: rotate(360deg); }
  }
  
.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid $main-flat-pink;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }