<spinner *ngIf="!album; else content"></spinner>
<ng-template #content>
    <section>
        <div class="album">
            <img class="album-cover" src="{{album.cover_medium}}" height="264" width="264">
            <span class="card-explicit-warning" *ngIf="album.explicit_lyrics">EXPLICIT</span>
            <h1 class="album-title">{{album.title}}</h1>
            <div class="album-artist">
                <img class="album-artist-image" src="{{album.artist.picture_small}}" height="28" width="28">
                <a class="album-artist-name" routerLink="/artist/{{album.artist.id}}">{{album.artist.name}}</a>
            </div>
            <ul class="album-info">
                <li>Треков: {{album.nb_tracks}}</li>
                <li>{{album.duration | time | date: 'h ч. mm м.'}}</li>
                <li>{{album.release_date | date : 'dd.MM.yyyy'}}</li>
                <li>Поклонников: {{album.fans}}</li>
            </ul>
        </div>
        <track-table [albumSpecific]="true" [disks]="disks"></track-table>
        <span class="album-label">{{album.release_date | date : 'yyyy'}} | {{album.label}}</span>
    </section>
    <section *ngIf="artistDiscography">
        <carousel>
            <h2 header>Дискография</h2>
            <album-list [albums]="artistDiscography" content></album-list>
        </carousel>
    </section>
    <section *ngIf="artistRelated">
        <carousel>
            <h2 header>Похожие исполнители</h2>
            <artist-list [artists]="artistRelated" content></artist-list>
        </carousel>
    </section>
</ng-template>
