@import '../../../colors.scss';

:host {
    display: flex;
    flex: auto;
    flex-direction: column;
    font-size: inherit;
}

.tab-panel {
    border-bottom: thin solid $main-flat-light-grey;
    display: flex;
    font-size: inherit;
    padding-top: 1.5rem;
}

.tabs {
    display: inline-flex;
    font-size: inherit;
    list-style: none;
    margin: auto;
    margin-bottom: 1rem;
    padding-left: 0;
}

.tab {
    color: $main-flat-grey;
    font-size: medium;
    padding-bottom: 1rem;
    text-decoration: none;
}

.tab:hover {
    color: $main-flat-black;
}

.tab-active {
    color: $main-flat-black;
    border-bottom: medium solid $main-flat-pink;
}

.tab-container {
    font-size: inherit;
}

.tab-container + .tab-container {
    margin-left: 2.75rem;
}

//Bootstrap-style spinner
@keyframes spinner {
    to { transform: rotate(359deg); }
  }
    
  .spinner {
    animation: spinner .75s linear infinite;
    border: .25em solid $main-flat-pink;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 2rem;
    margin: auto;
    width: 2rem;
  }