.deezer-logo {
    background-size: 100% 100%;
    display: inline-block;
    height: 32px;
    width: 125px;
    transition-duration: 0s;
    transition-property: background-image;
    transition-timing-function: linear;
    transition-delay: .1s;

    &-day {
        @extend .deezer-logo;
        background-image: url("/assets/deezer/logotype/DIGITAL RGB/SVG/Deezer_Logo_RVB_Black.svg");
    }
    
    &-night {
        @extend .deezer-logo;
        background-image: url("/assets/deezer/logotype/DIGITAL RGB/SVG/Deezer_Logo_RVB_White.svg");
    }
}