@import 'src/colors.scss';

.content {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    font-size: inherit;
    grid-row: 2;
    grid-column: 2;
}

.deezer-logo {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-left: 1.5rem;
    transition-duration: 0s;
    transition-property: background-image;
    transition-timing-function: linear;
    transition-delay: .1s;
    width: 125px;

    position: sticky;
    top: 1rem;

    &-day {
        @extend .deezer-logo;
        background-image: url(/assets/deezer/logotype/DIGITAL_RGB/SVG/Deezer_Logo_RVB_Black.svg);
    }
    
    &-night {
        @extend .deezer-logo;
        background-image: url(/assets/deezer/logotype/DIGITAL_RGB/SVG/Deezer_Logo_RVB_White.svg);
    }
}

.drawer {
    background-color: inherit;
    border-right: thin solid $main-flat-grey;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    position: sticky;
    left: 0;
}

.footer {
    background-color: inherit;
    border-top: thin solid $main-flat-grey;
    display: flex;
    font-size: larger;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    padding: 1rem 1.5rem;

    position: sticky;
    bottom: 0;
}

:host {
    background-color: white;
    display: grid;
    flex: auto;
    font-size: inherit;
    grid-template-columns: max-content auto;
    grid-template-rows: min-content auto min-content;
}

.iconed-button {
    background-color: inherit;
    border: none;
    border-radius: 50%;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-right: 1rem;
    padding: 0.5rem;
}

.iconed-button:enabled {
    cursor: pointer;
}

.iconed-button:enabled:hover {
    background-color: $main-flat-light-grey;
}

.navbar {
    align-items: center;
    background-color: inherit;
    border-bottom: thin solid $main-flat-grey;
    display: flex;
    font-size: large;
    grid-column: 2;
    grid-row: 1;
    height: max-content;
    padding: 0.5rem 1rem;

    position: sticky;
    top: 0;
}

.navlink {
    cursor: pointer;
    padding: 0.25rem 1.5rem;
    text-decoration: none;

    &-active {
        border-left: thick solid $main-flat-pink;
        color: $main-flat-pink;
    }

    &-primary {
        @extend .navlink;
        color: $main-flat-black;
        font-size: large;
        font-weight: bold;
    }

    &-secondary {
        @extend .navlink;
        color: $main-flat-grey;
        font-size: larger;
        padding-left: 3.5rem;
    }
}

.navlink:hover {
    color: $main-flat-pink;
}

.navlist {
    background-color: inherit;
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;

    position: sticky;
    top: calc(1rem + 32px + 2rem);
}

.navitem {
    margin: 1.5rem 0;
}

.searchbar {
    background-color: inherit;
    color: $main-flat-grey;
    display: flex;
    flex: auto;
    font-size: inherit;
    margin-right: auto;
    max-width: 60%;
}

.searchfield {
    border: none;
    color: inherit;
    flex: auto;
    font-size: inherit;
    margin-right: 1rem;
}

span i {
    padding-right: 1rem;
}

.track-time {
    color: $main-flat-grey;
    font-size: x-small;
    grid-row: 2;
}

.track-controls {
    background-color: inherit;
    font-size: large;
}

.track-info {
    align-items: center;
    display: grid;
    flex: auto;
    font-size: larger;
    column-gap: 0.75rem;
    grid-template-columns: max-content max-content auto max-content max-content max-content max-content;
    grid-template-rows: auto max-content;
    margin: 0 auto;
    max-width: 60%;
}

.track-slider {
    @include gradient(to right, $multicolor-deep-orange);
    flex: auto;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row: 2;
    height: 2px;
}