<aside class="drawer">
  <a class="deezer-logo-day"></a>
  <ul class="navlist">
    <li><a class="navlink" href="/"><span class="fas fa-music" active>Музыка</span></a></li>
    <li><a class="navlink" href="/channels"><span class="fas fa-th-large">Исследуйте</span></a></li>
    <li>
      <a class="navlink" href="/profile"><span class="fas fa-heart">Избранное</span></a>
      <ul class="navlist">
        <li><a class="navlink" href="/profile/tracks"><span>Любимые треки</span></a></li>
        <li><a class="navlink" href="/profile/playlists"><span>Плейлисты</span></a></li>
        <li><a class="navlink" href="/profile/albums"><span>Альбомы</span></a></li>
        <li><a class="navlink" href="/profile/artists"><span>Исполнители</span></a></li>
      </ul>
    </li>
  </ul>
</aside>
<nav class="navbar">
  
</nav>
<main class="content">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <app-player>
  </app-player>
</footer>