a {
    cursor: pointer;
}

.deezer-logo {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    margin: 1rem;
    transition-duration: 0s;
    transition-property: background-image;
    transition-timing-function: linear;
    transition-delay: .1s;
    width: 125px;

    &-day {
        @extend .deezer-logo;
        background-image: url(/assets/deezer/logotype/DIGITAL_RGB/SVG/Deezer_Logo_RVB_Black.svg);
    }
    
    &-night {
        @extend .deezer-logo;
        background-image: url(/assets/deezer/logotype/DIGITAL_RGB/SVG/Deezer_Logo_RVB_White.svg);
    }
}

main {
    display: flex;
    flex-direction: row;
}