<spinner *ngIf="!albums; else content"></spinner>
<ng-template #content>
    <section class="section">
        <h1 class="header">Альбомов: {{albums.total}}</h1>
        <spinner *ngIf="!albums.data; else results"></spinner>
        <ng-template #results>
            <button class="nav-btn" *ngIf="albums.prev" (click)="prev()">
                <span class="fas fa-arrow-circle-up"></span>
            </button>
            <album-list [albums]="albums.data"></album-list>
            <button class="nav-btn" *ngIf="albums.next" (click)="next()">
                <span class="fas fa-arrow-circle-down"></span>
            </button>
        </ng-template>
    </section>
</ng-template>