<div class="warning-message" *ngIf="overview.nothingFound(); else results">
    <span>Совсем ничего не найдено :(</span>
</div>
<ng-template #results>
    <section class="section" *ngIf="overview.hasTracks()">
        <h1>
            <a class="section-header" routerLink="/search/{{overview.query}}/tracks">
                <span>Треки </span><span class="fas fa-angle-right"></span>
            </a>
        </h1>
        <table class="tracks">
            <tbody>
                <tr class="track" *ngFor="let track of overview.tracks.data">
                    <td><img src="{{track.album.cover_small}}" height="28" width="28"></td>
                    <td class="track-title"><a routerLink="/track/{{track.id}}">{{track.title}}</a></td>
                    <td class="explicit-warning" *ngIf="track.explicit_lyrics"><span>EXPLICIT</span></td>
                    <td class="track-artist"><a routerLink="/artist/{{track.artist.id}}">{{track.artist.name}}</a></td>
                    <td class="track-album"><a routerLink="/album/{{track.album.id}}">{{track.album.title}}</a></td>
                    <td class="track-duration">{{track.duration / 60 | number: '2.0-0'}}:{{track.duration % 60 | number: '2.0-0'}}</td>
                    <td>{{track.rank / 100000 | number: '1.0-2'}}/10</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="section" *ngIf="overview.hasAlbums()">
        <h1>
            <a class="section-header" routerLink="/search/{{overview.query}}/albums">
                <span>Альбомы </span><span class="fas fa-angle-right"></span>
            </a>
        </h1>
        <album-list [albums]="overview.albums.data"></album-list>
    </section>
    <section class="section" *ngIf="overview.hasPlaylists()">
        <h1>
            <a class="section-header" routerLink="/search/{{overview.query}}/playlists">
                <span>Плейлисты </span><span class="fas fa-angle-right"></span>
            </a>
        </h1>
        <playlist-list [playlists]="overview.playlists.data"></playlist-list>
    </section>
    <section class="section" *ngIf="overview.hasRadios()">
        <h1>
            <a class="section-header" routerLink="/search/{{overview.query}}/radios">
                <span>Миксы </span><span class="fas fa-angle-right"></span>
            </a>pdxint
        </h1>
        <radio-list [radios]="overview.radios.data"></radio-list>
    </section>
    <section class="section" *ngIf="overview.hasArtists()">
        <h1>
            <a class="section-header" routerLink="/search/{{overview.query}}/artists">
                <span>Исполнители </span><span class="fas fa-angle-right"></span>
            </a>
        </h1>
        <artist-list [artists]="overview.artists.data"></artist-list>
    </section>
    <section class="section" *ngIf="overview.hasUsers()">
        <h1>
            <a class="section-header" routerLink="/search/{{overview.query}}/users">
                <span>Пользователи </span><span class="fas fa-angle-right"></span>
            </a>
        </h1>
        <user-list [users]="overview.users.data"></user-list>
    </section>
</ng-template>