@import 'src/colors.scss';

:host {
    display: flex;
    flex: auto;
    flex-direction: column;
    font-size: inherit;
}

.section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    width: 1504px;

    &-header {
        color: $main-flat-black;
        font-size: larger;
        font-weight: bolder;
        margin: 0;
        margin-bottom: -1.5rem;
        text-align: center;
        text-decoration: none;
    }

    &-header:hover {
        color: $main-flat-pink;
    }
}

.section h1 {
    margin: 0;
}

.track {
    border-bottom: thin solid $main-flat-grey;
    padding: 1rem;

    &-duration {
        color: $main-flat-grey;
    }
}

.track a {
    color: $main-flat-black;
    text-decoration: none;
}

.track a:hover {
    color: $main-flat-pink;
}

.warning-message {
    @include gradient(to bottom right, $multicolor-yellow);
    color: $main-flat-grey;
    font-size: xx-large;
    margin: auto;
    padding: 3rem;
}