@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Black.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Bold.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Light.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Medium.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Regular.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Black.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Bold.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Light.woff2);
}

@font-face {
    font-family: MabryDeezer;
    src: url(assets/deezer/fonts/MabryDeezer/Web/MabryDeezer-Medium.woff2);
}

@font-face {
    font-family: NotoSansArabic;
    src: url(assets/deezer/fonts/NotoSansArabic/NotoSansArabic-Bold.ttf);
}

@font-face {
    font-family: NotoSansArabic;
    src: url(assets/deezer/fonts/NotoSansArabic/NotoSansArabic-Medium.ttf);
}

@font-face {
    font-family: NotoSansHebrew;
    src: url(assets/deezer/fonts/NotoSansHebrew/NotoSansHebrew-Bold.ttf);
}

@font-face {
    font-family: NotoSansHebrew;
    src: url(assets/deezer/fonts/NotoSansHebrew/NotoSansHebrew-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(assets/deezer/fonts/Roboto/Roboto-Medium.ttf);
}